@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Global */
.logo {
    width: 300px;
}

.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

button,
input[type=submit] {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 1.5rem;
    cursor: pointer;
}

h2 {
    font-size: 3.75rem;
    text-align: center;
    margin-bottom: 24px;
}
/* End of Global */



/* Navbar */
nav {
    height: 70px;
    padding: 0px 1rem;
    background: #cafdff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-left: 1rem;
}
/* End of Navbar */



/* Header */
header {
    background: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 4.5rem;
}

.subheader {
    font-size: 2.25rem;
    margin: 16px 0 24px 0;
}
/* End of Header */



#about,
#discord,
#contact,
footer {
    padding: 48px 0;
}

/* About */
#about {
    background-color: #f8ffdc;
}

.section__description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__image--wrapper {
    width: 40%;
}

.about__image--wrapper img{
    width: 100%;
}

.section__description--wrapper {
    width: 60%;
}

.about__image--wrapper,
.section__description--wrapper {
    padding: 0 24px;
}

.section__description--paragraph {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 24px;
}
/* End of About */



/* Discord */
#discord {
    background-color: #cefeff;
}
/* End of Discord */



/* Contact */
#contact {
    background-color: #dce9ff;
}

form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

input,
textarea {
    margin-bottom: 24px;
    font-size: 1.25rem;
    padding: 6px 12px;
}
/* End of Contact */



/* Footer */
footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    max-width: 480px;
}

.footer__nav {
    list-style-type: none;
    margin-bottom: 2rem;
    display: flex;
}

.footer__link {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    margin: 0 10px;
}
/* End of Footer */



/* Media Queries */
/* Small phones, tablets, large smartphones */
@media (max-width: 728px) {
    .row {
        flex-direction: column;
    }
    
    .home__description {
        margin-bottom: 16px;
    }
}